[flake8]
max-line-length = 100
extend-ignore = E402, W293, W291, E128
# E402: module level import not at top of file
# We intentionally place imports after sys.path.insert in test files
# W293: blank line contains whitespace
# W291: trailing whitespace
